altgraph==0.17.5
customtkinter==6.0.0
darkdetect==0.8.0
numpy==2.5.2
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pydicom==3.0.2
pyinstaller==6.22.0
pyinstaller-hooks-contrib==2026.6
pynetdicom==3.0.4
pywin32==312
pywin32-ctypes==0.2.3
setuptools==84.0.0
